.container {
  padding: 20px;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-card-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
} 